.view_profile {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem 0;
}
.profile_actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.actions {
  padding: var(--space-1);
}
.action{
  margin: var(--space-1) 0
}

.favs {
  text-align: center;
}


.user_ads_grid {
  display: flex;
  gap: var(--space-2);
  overflow: auto;
  justify-content:center

}

.grid_item {
  max-width: 300px;
 
}
