.view_profile {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem 0;
}
.profile_actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.action {
  padding: 4px;
  margin: 4px;
  text-align: center;
}

.user_ads_grid {
  display: flex;
  gap: var(--space-2);
  overflow: auto;

}

.grid_item {
  max-width: 300px;
 
}
