.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  padding: 4px;
  margin: 2rem 0;
}

.section_form{
  text-align: center;
  padding: 4px;
}