.form_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  margin: 1rem auto;
}
.input {
  width: 100%;
}
.span_input {
  margin: 1rem auto;
}
