.button {
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  padding: 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
  border:none;
  background-color: transparent;
  box-shadow: 1px 1px 1px 0 #000, inset 1px 1px 1px rgba(255, 255, 255, 0.39);
  color: inherit;
}
.button:after {
  content: "";
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transition: 0.3s;
  width: 0;
  z-index: -1;
}


.button:hover:after {
  border-radius: 100px;
  height: 120%;
  left: -5px;
  top: -5px;
  width: 120%;
}

.button:active {
  opacity: .8;
  box-shadow: none;
}

.button:disabled {
  background-color: transparent;
  opacity: .5;
}
.button:hover {
  box-shadow: 1px 1px 1px 0 #000, inset 1px 1px 1px rgb(255, 255, 255);
}
.button:hover:disabled {
  box-shadow:  1px 1px 1px 0 #000, inset 1px 1px 1px rgba(255, 255, 255, 0.39);;
  cursor: auto;
}
