.barrio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-3);
}

.item {
  max-width: 350px;
}
 /*  width: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
 */
/* .advert {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* @media (min-width: 900px) {
  .adverts {
    max-width: 900px;
    margin: 0 auto;
  }
} */
/*
@media (min-width: 900px) {
  .adverts {
    grid-template-columns: repeat(3, 1fr);
  }
}
 */
