html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  /* ----------------MAIN COLORS---------------------- */
  --white: #fff;
  --black: #000;
  --primary: #c9f;
  --secondary: #fca;
  --danger:rgb(236, 117, 109);
  --warning:rgb(189, 223, 0);
  --success:rgb(5, 199, 86);
  
  
  --gray: rgb(196, 196, 196);
  --blue: #c9f;
  --shadow-1: 1px 1px 4px #000;
  --shadow-in: inset 0.5px 0.5px 3px #000;
  
  --p-small: 0.7rem;
  /* ----------------  SPACES   ---------------------- */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 0.9rem;
}
p {
  font-size: 0.9rem;
}
