.advert {
  border: 1px solid;
  display: grid;
  grid-template-rows: 30px auto 30px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
.header {
  padding: 0 4px;
  display: flex;
  justify-content: space-between;
}
.labels {
  padding: 0 4px;
  display: flex;
  width: 70%;
  align-items: center;
}
.image {
  height: 100%;
  margin: 0 auto;
  display: block;
}
.actions {
  display: flex;
  align-items: center;
}
.body_images {
  height: 4rem;
}
.body_content {
  padding: 0.5rem;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* ------------------  Advert Menu ---------------- */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.menu_continer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(218, 202, 60, 0.329);
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu {
  background-color: var(--white);
  border-radius: 8px;
  min-width: 200px;
  box-shadow: var(--shadow-1);
}
.menu_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu_item {
  padding: 8px 8px;
  cursor: pointer;
}
.menu_item:hover {
  box-shadow: var(--shadow-1);
}
