
.advert_details{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.adverts {
     display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    max-width: 300px;
}