.filter_bar {
  /*   background-color: var(--primary); */
  margin: 0 auto;
  overflow: auto;
  width: 100%;
  position: sticky;
  top:0
  
}
.filter_labels {
  max-width: 320px;
  display: flex;
  overflow: auto;
  margin: 0 auto;
}
.filter_label {
  margin: 4px;
  cursor: pointer;
  border-radius: var(--space-2);
  padding: var(--space-1);
}
.filter_label:hover {
  box-shadow: 1px 1px 1px #fff;
}
.filter_display {
  background: var(--white);
  color: var(--black);
  text-align: center;
  width: 180px;
  display: flex;
  justify-content: center;
  margin: 4px auto;
  border-radius: 100%;
  box-shadow: var(--shadow-in);

  font-size: 0.9rem;
  font-weight: 600;
}
