.filter_bar {
    background-color: var(--black); 
  overflow: auto;
  position: sticky;
  top:0;
  z-index: 1;
  max-width: 100%;
  margin: 0 auto;
}
.filter_labels {
  max-width: 320px;
  display: flex;
  overflow: auto;
  margin: 0 auto;
  justify-content: center;
}
.filter_label {
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--space-2);
  padding: 4px;
}
.filter_label:hover {
  box-shadow: 1px 1px 1px #fff;
}
.filter_display {
  background: var(--white);
  color: var(--black);
  text-align: center;
  width: 180px;
  display: flex;
  justify-content: center;
  margin: 2px auto;
  border-radius: 100%;
  box-shadow: var(--shadow-in);
  font-size: 0.9rem;
  font-weight: 600;
}

@media (min-width: 600px) {
  .filter_bar{
    max-width: 320px;
  }
  
}


@media (min-width: 900px) {
  .filter_bar{
    max-width: 600px;
  }
  
}
