.contact_display {
  margin: .5em 0;
  width: 80%;
}
.contacts_list {
  margin: .5rem 0;
}
.contact_row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.input_buttom {
  margin: 1rem;
}
.numbers_keyboard{
  margin-bottom: 1rem;
}

.contact_content {
  width: 100%;
  margin: 1rem auto;
}

.input_select {
  width: 100%;
}

.input_prevalue {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: end;
  align-items: center;
}

.input_text {
  width: 100%;
}
.input_prefix {
  width: 100%;
}
