.location {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.select_content {
  display: flex;
  margin: 1rem;
  
}

.barrios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.barrio {
  position: relative;
  cursor: pointer;
  padding: .36rem;
  width: 100%;
  height: 10rem;
}

.barrio:hover * {
  box-shadow: none;
}

.barrio_title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  /*  background-color: var(--primary);
  margin: 1rem 0;
  padding: .1rem;
  border-radius: .3rem; */
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.25;
  box-shadow: 1px 1px 5px black;
  cursor: pointer;
}

@media (min-width: 400px) {
  .barrio {
    width: 50%;
  }
  .select_content {
    justify-content: center;
  }
}

@media (min-width: 600px) {
  .barrio {
    width: 16rem;
    height: 16rem;
  }
  
}
